<% if @movie.errors.any? %>
  <ul>
    <% @movie.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @movie do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :blurb %>
    <%= form.text_field :blurb %>
  </div>
  <div>
    <%= form.label :date_released %>
    <%= form.date_select :date_released %>
  </div>
  <div>
    <%= form.label :country_of_origin %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :showing_start %>
    <%= form.datetime_select :showing_start %>
  </div>

  <div>
    <%= form.label :showing_end %>
    <%= form.datetime_select :showing_end %>
  </div>
  <%= form.submit %>
<% end %>